<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.tctctc.easylook">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".Config.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".Base.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ganhuojizhongying.GanHuoMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme">
        </activity>
        <activity
            android:name=".ganhuojizhongying.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DetailColorTranslucentTheme">
        </activity>
        <activity
            android:name=".Base.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.fullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ganhuojizhongying.LargePicActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <meta-data android:value="57ea4375e0f55ae61200087d" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>